@font-face {
    font-family: crake;
    src: url(../fonts/Crake\ Bold.ttf);
}
*
{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body
{
    position: relative;
    background-color: #302D33;
}
.background
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background-image: url('../img/stars2.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.1;

}
.cabecera1
{
    z-index: 10;
    width: 100%;
    height: 30px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(59, 57, 57);
}
.cabecera_center
{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}
.cabecera_center a
{
    color: #C5A967;
    margin: 0 10px;
}

.cabecera2
{
    z-index: 10;
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 30px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(16px);
}
.center_left, .center_left a, .center_left a img
{
    height: 100%;

}
.center_left
{
    display: flex;
    align-items: center;
    color: #C5A967;
}
.center_left a
{
    display: inline-block;
}
.center_left h1
{
    font-family: crake;
}
.center_right
{
    height: 100%;
    display: flex;
    align-items: center;
}
.center_right ul
{
    display: flex;
}
.center_right li
{
    color: #C5A967;
    margin:0 10px ;
}
.center_right li:hover
{
    scale: 1.1;
}
@media screen and (width<=1130px) 
{
    .cabecera2 .center_right
    {
        display: none;
    }
    .cabecera_center
    {
        width: 90%;
    }
    .button
    {
        height: 6vh;
        width: 6vh;
        border: solid 1px #C5A967;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .line
    {
        width: 80%;
        height: 10%;
        background-color: #C5A967;
    }
    .cabecera1 .center_left
    {
        display: none;
    }
    .center_left h1
    {
        font-size: 4vw;
    }
}
/*principal*/
.principal
{
    padding-top: calc(10vh + 30px);
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*inicio*/
.inicio
{
    width: 80%;
    min-width: 320px;
    display: flex;
    flex-wrap: wrap;
}
.inicio_div
{
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}
.inicio_div canvas
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.inicio_div h2
{
    margin: 30px 0 ;
    width: 50%;
    min-width: 300px;
    font-family: 'Smythe', cursive;
    color: #fff;
    font-size: 40px;
    -webkit-text-stroke: 0.1px #000;
}
.inicio_div p
{
    margin: 30px 0 ;
    width: 50%;
    min-width: 300px;
    color: #C5A967;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
}
.buttons
{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0 ;
    
}
.buttons a
{
    padding: 10px;
    margin: 10px;
    color: #fff;
    border: solid 1px #fff;
}
.buttons a:hover
{
    background-color: #000;

}
@media screen and (width<= 1622px) 
{
    .inicio
    {
        width: 100%;
    }
}
@media screen and (width<= 1210px) 
{
    .inicio_div
    {
        width: 100%;
    }
    .buttons
    {
        width: 80%;
    }
}
.perfil
{
    width: 300px;
    height: 300px;
    border: solid 1px #fff;
    box-shadow: 0 0 10px #C5A967, inset 0 0 10px #C5A967;
    background-image: url('../img/perfil.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.perfil h3
{
    position: absolute;
    padding: 10px 0;
    width: 80%;
    background-color: #C5A967;
    border: solid 1px #fff;
    transform: skewX(10deg);
    bottom: -20px;
    left: 10%;
    text-align: center;
}